@use "src/assets/styles/variables.scss" as *;


.btn {
	border-radius: $XS;
	font-weight: 500;
	font-size: 1.6rem;
	transition: all .3s ease-in-out;
	border: 1px solid $white;

	&:active,
	&:hover {
		outline: none;
		box-shadow: none;
	}

	&:focus {
		outline: initial;
		outline-offset: initial;
		box-shadow: none;
	}

	&.sm {
		padding: $XS $XS2;
	}

	&.md {
		padding: $S $XS;
	}

	&.lg {
		padding: $M $S;
		font-size: 1.8rem;
	}
}