// Colors
$dark: #1a1e2e;
$white: #f6fdff;
$light-blue: #E2EDF3;
$cold-blue: #9dc1f7;
$blue: #23A6F0;

$violet :#7c23f0;
$light-gray: #8896AB;
$gray: #6b7686;


// Spacing
$XL2: 7.2rem;
$XL: 6.4rem;
$L: 5.6rem;
$M: 3.2rem;
$S: 2.4rem;
$XS: 1.6rem;
$XS2: 0.8rem;